@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  background-color: #0a0e1a; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-size: 1rem;
    font-weight: inherit; }
  body ol, body ul > li {
    list-style: none; }
  body a {
    text-decoration: none;
    color: inherit; }

.noScroll {
  overflow: hidden; }

.box {
  width: 120px;
  height: 360px;
  position: relative;
  margin-left: 100px; }
  .box .progressbar {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-30deg) rotateZ(-180deg); }
    .box .progressbar .side {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(240, 240, 255, 0.1); }
    .box .progressbar .front {
      transform-origin: bottom;
      box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.2); }
    .box .progressbar .right {
      transform: translate(-100%, 0) rotateY(-90deg);
      transform-origin: right; }
    .box .progressbar .back {
      transform: translateZ(-120px); }
    .box .progressbar .left {
      transform: rotateY(-90deg);
      transform-origin: right;
      box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.3); }
    .box .progressbar .bottom {
      height: 120px;
      transform: rotateX(-90deg);
      transform-origin: top;
      background-color: rgba(19, 243, 206, 0.6); }
    .box .progressbar .bar {
      width: 100%;
      height: 0;
      background-color: rgba(19, 243, 206, 0.6);
      box-shadow: 0 0 30px rgba(19, 243, 206, 0.3);
      animation: loding 4s ease-in-out normal forwards;
      position: relative; }

@keyframes loding {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

aside {
  display: block;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20rem;
  color: white;
  background-color: #0a0b18;
  opacity: 0;
  transform: translateX(-100%); }
  aside .asideHead {
    height: 4rem;
    margin: 0 1rem;
    line-height: 4rem;
    border-bottom: 1px solid #1a2444; }
    aside .asideHead h2 {
      font-size: 1rem;
      text-align: center;
      float: left; }
    aside .asideHead i {
      float: right;
      display: block;
      line-height: 4rem;
      cursor: pointer; }
    aside .asideHead::after {
      content: "";
      display: block;
      clear: both; }
  aside .bidList, aside .askList {
    padding: .3rem 1rem; }
  aside .bidList {
    color: #42ccf6; }
  aside .askList {
    color: #fb3e9d; }
  aside .bidRowTitle, aside .askRowTitle {
    font-size: .8rem;
    line-height: 2.6rem;
    height: 2.6rem;
    width: 100%;
    display: flex; }
    aside .bidRowTitle span, aside .askRowTitle span {
      flex: 0 0 50%;
      text-align: right;
      padding-right: 1rem;
      border-bottom: 1px solid #0e162e; }
  aside .bidRow, aside .askRow {
    font-size: .8rem;
    font-weight: 600;
    line-height: 2.6rem;
    height: 2.6rem;
    width: 100%;
    display: flex; }
    aside .bidRow span, aside .askRow span {
      flex: 0 0 50%;
      text-align: right;
      padding-right: 1rem;
      border-bottom: 1px solid #0e162e; }
    aside .bidRow span:first-child, aside .askRow span:first-child {
      border-right: 1px solid #0e162e; }

.asideShow {
  opacity: 1;
  transform: translateX(0%); }

.modalBox {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  outline: 1px solid red; }
  .modalBox .modal {
    width: 46rem;
    max-width: 80%;
    max-height: 90%;
    padding: 4rem 3rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll; }
  .modalBox .newsModal {
    display: none; }
    .modalBox .newsModal > h4 {
      font-size: 1.8rem;
      font-weight: 600; }
    .modalBox .newsModal .sub {
      padding: .5rem 0 1rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid #ced4da;
      display: flex;
      justify-content: space-between; }
      .modalBox .newsModal .sub span {
        font-size: .8rem;
        color: #8f979e; }
        .modalBox .newsModal .sub span :first-child {
          float: left; }
        .modalBox .newsModal .sub span :nth-child(2) {
          float: right; }
    .modalBox .newsModal .newsModalImgBox {
      width: 100%; }
      .modalBox .newsModal .newsModalImgBox img {
        width: 100%; }
    .modalBox .newsModal .newsModalContentBox {
      width: 100%;
      padding: 2rem 0 4rem; }
      .modalBox .newsModal .newsModalContentBox table {
        display: none; }
  .modalBox .meetupModal {
    display: none; }
    .modalBox .meetupModal .meetupModalTitleBox {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid #ced4da;
      display: flex;
      margin-bottom: 2rem; }
      .modalBox .meetupModal .meetupModalTitleBox strong {
        font-size: 1.6rem;
        color: #42ccf6;
        font-weight: 600; }
      .modalBox .meetupModal .meetupModalTitleBox h4 {
        margin-left: 1rem;
        font-size: 1.8rem;
        font-weight: 600; }
    .modalBox .meetupModal .meetupModalContentBox {
      width: 100%;
      padding: 2rem 0 4rem;
      margin-bottom: 2rem; }
    .modalBox .meetupModal .meetupModalBtnBox {
      margin-bottom: 2rem;
      text-align: center; }
      .modalBox .meetupModal .meetupModalBtnBox a {
        padding: .4rem 1.6rem .6rem;
        border: 1px solid #8f979e;
        border-radius: .2rem; }
  .modalBox .show {
    display: block; }

.show {
  display: block; }

header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 3rem; }
  header i.material-icons {
    margin-left: 1rem;
    line-height: 3rem;
    cursor: pointer; }
  header h1 {
    font-size: 1.2rem;
    line-height: 3rem;
    margin: 0;
    margin-right: 1rem;
    float: right; }

#firstPage {
  background: linear-gradient(#0e162e, #0a0e1a);
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  padding-top: 5rem;
  box-sizing: border-box;
  color: white;
  z-index: 1; }
  #firstPage > h2 {
    display: none;
    font-size: 2rem;
    font-weight: 300;
    display: none;
    justify-content: center; }
  #firstPage .show {
    display: flex; }
  #firstPage .wrapper {
    position: relative;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
    min-height: 500px;
    display: flex;
    flex-flow: row wrap;
    padding: 3rem 6rem; }
    #firstPage .wrapper .info {
      flex: 0 0 70%;
      display: flex;
      flex-flow: column;
      align-items: center;
      position: relative; }
      #firstPage .wrapper .info .clockBox .clock {
        font-size: 6rem;
        font-weight: 700;
        margin: 2rem 0; }
      #firstPage .wrapper .info .form {
        display: none;
        font-size: 1.6rem;
        margin-bottom: 3rem; }
        #firstPage .wrapper .info .form .show {
          display: block; }
        #firstPage .wrapper .info .form input {
          width: 22rem;
          margin-right: 1rem;
          padding: 1rem;
          color: white;
          font-size: inherit;
          font-weight: 300;
          border: none;
          border-bottom: 1px solid white;
          background-color: inherit;
          outline: none; }
          #firstPage .wrapper .info .form input::placeholder {
            font-weight: 300;
            color: rgba(255, 255, 255, 0.2); }
        #firstPage .wrapper .info .form button {
          background-color: inherit;
          border: 1px solid white;
          border-radius: .2rem;
          color: white;
          padding: .6rem 1.2rem;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 1.2rem;
          margin: 4px 2px;
          cursor: pointer; }
      #firstPage .wrapper .info .coinTitle {
        display: none;
        font-size: 2rem;
        margin-bottom: 1rem; }
      #firstPage .wrapper .info .infoListBox {
        display: none;
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        color: #828ba7; }
        #firstPage .wrapper .info .infoListBox .infoList ul {
          float: left;
          margin-right: 1rem; }
          #firstPage .wrapper .info .infoListBox .infoList ul > li {
            line-height: 1.8rem; }
        #firstPage .wrapper .info .infoListBox .infoList .infoTitle {
          text-align: right; }
        #firstPage .wrapper .info .infoListBox .infoList::after {
          display: block;
          content: "";
          clear: both; }
      #firstPage .wrapper .info .show {
        -webkit-transition: opacity 3s;
        -moz-transition: opacity 3s;
        -ms-transition: opacity 3s;
        -o-transition: opacity 3s;
        transition: opacity 3s;
        opacity: 1;
        display: flex; }
      #firstPage .wrapper .info .goToMarketBtn {
        background-color: inherit;
        border: 1px solid white;
        border-radius: .2rem;
        color: white;
        padding: .6rem 1.4rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer; }
    #firstPage .wrapper .graphBox {
      flex: 0 0 30%;
      position: relative; }
      #firstPage .wrapper .graphBox .graphContainer {
        width: 200px;
        height: 400px;
        position: absolute;
        bottom: 0; }
        #firstPage .wrapper .graphBox .graphContainer .box {
          position: absolute;
          left: 0;
          bottom: 0;
          margin: 0; }
          #firstPage .wrapper .graphBox .graphContainer .box h2 {
            position: absolute;
            bottom: 0;
            transform: translateX(-100%) rotate(180deg);
            font-weight: 600;
            font-size: 1.6rem; }
          #firstPage .wrapper .graphBox .graphContainer .box h6 {
            position: absolute;
            bottom: 2rem;
            transform: translateX(-100%) rotate(180deg);
            font-weight: 600;
            font-size: 1rem; }
  #firstPage i.material-icons {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4rem;
    font-weight: 100;
    cursor: pointer; }

#secondPage {
  height: 100vh;
  width: 100vw;
  padding-top: 5rem;
  box-sizing: border-box;
  color: #343a40;
  display: flex;
  justify-content: center;
  position: relative; }
  #secondPage i.material-icons {
    position: absolute;
    color: white;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4rem;
    font-weight: 100;
    cursor: pointer; }
  #secondPage .wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    max-width: 90%;
    padding: 3rem 0;
    background-color: #fff; }
    #secondPage .wrapper h2 {
      font-size: 2rem;
      font-weight: 300;
      margin: 2rem auto 1rem; }
    #secondPage .wrapper article {
      height: 6rem;
      display: flex;
      cursor: pointer; }
      #secondPage .wrapper article .img, #secondPage .wrapper article .date {
        flex: 0 0 30%; }
        #secondPage .wrapper article .img img, #secondPage .wrapper article .date img {
          object-fit: cover; }
      #secondPage .wrapper article .date {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 600;
        color: #42ccf6;
        border: 1px solid #eceef0; }
      #secondPage .wrapper article .contents {
        flex: 0 0 70%;
        display: flex;
        flex-flow: column;
        padding-left: 1rem;
        position: relative; }
        #secondPage .wrapper article .contents h4 {
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.6rem; }
        #secondPage .wrapper article .contents h6 {
          font-size: .8rem;
          font-weight: 300; }
        #secondPage .wrapper article .contents span {
          font-size: .8rem;
          line-height: 1.6rem;
          color: #8f979e; }
    #secondPage .wrapper .news, #secondPage .wrapper .meetup {
      flex: 0 0 50%;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      padding: 0 4rem;
      box-sizing: border-box; }
      #secondPage .wrapper .news > div, #secondPage .wrapper .meetup > div {
        text-align: right;
        padding-right: 1rem; }
    #secondPage .wrapper .news {
      border-right: 1px solid #eceef0; }
