@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,700&display=swap|family=Noto+Sans+KR:100,300,400,500,700,900");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #091025; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-size: 1rem;
    font-weight: inherit; }
  body ol,
  body ul > li {
    list-style: none; }
  body a {
    text-decoration: none;
    color: inherit; }

.noScroll {
  overflow: hidden; }

.box {
  width: 120px;
  height: 360px;
  position: relative;
  margin-left: 100px; }
  .box .progressbar {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-30deg) rotateZ(-180deg); }
    .box .progressbar__side {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(240, 240, 255, 0.1); }
    .box .progressbar__front {
      transform-origin: bottom;
      box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.2); }
    .box .progressbar__right {
      transform: translate(-100%, 0) rotateY(-90deg);
      transform-origin: right; }
    .box .progressbar__back {
      transform: translateZ(-120px); }
    .box .progressbar__left {
      transform: rotateY(-90deg);
      transform-origin: right;
      box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.3); }
    .box .progressbar__bottom {
      height: 120px;
      transform: rotateX(-90deg);
      transform-origin: top;
      background-color: rgba(19, 243, 206, 0.6);
      animation: flowLoadingBottom 16s 4.5s ease infinite; }
    .box .progressbar__bar {
      width: 100%;
      height: 0;
      background-color: rgba(19, 243, 206, 0.6);
      box-shadow: 0 0 30px rgba(19, 243, 206, 0.3);
      animation: loading 4s ease-in-out forwards, flowLoading 16s 4.5s ease infinite;
      position: relative; }

@keyframes loading {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

@keyframes flowLoading {
  0% {
    height: 100%; }
  13% {
    height: 85%; }
  25% {
    height: 95%;
    background-color: rgba(19, 236, 243, 0.6);
    box-shadow: 0 0 30px rgba(19, 236, 243, 0.3); }
  38% {
    height: 85%;
    background-color: rgba(19, 209, 243, 0.6);
    box-shadow: 0 0 30px rgba(19, 209, 243, 0.3); }
  50% {
    height: 100%;
    background-color: rgba(19, 209, 243, 0.6);
    box-shadow: 0 0 30px rgba(19, 209, 243, 0.3); }
  63% {
    height: 85%;
    background-color: rgba(19, 180, 243, 0.6);
    box-shadow: 0 0 30px rgba(19, 180, 243, 0.3); }
  75% {
    height: 95%;
    background-color: rgba(19, 209, 243, 0.6);
    box-shadow: 0 0 30px rgba(19, 209, 243, 0.3); }
  88% {
    height: 85%;
    background-color: rgba(19, 236, 243, 0.6);
    box-shadow: 0 0 30px rgba(19, 236, 243, 0.3); }
  100% {
    height: 100%; } }

@keyframes flowLoadingBottom {
  0% { }
  13% { }
  25% {
    background-color: rgba(19, 236, 243, 0.6); }
  38% {
    background-color: rgba(19, 209, 243, 0.6); }
  50% {
    background-color: rgba(19, 209, 243, 0.6); }
  63% {
    background-color: rgba(19, 180, 243, 0.6); }
  75% {
    background-color: rgba(19, 209, 243, 0.6); }
  88% {
    background-color: rgba(19, 236, 243, 0.6); }
  100% { } }

.side-drawer {
  display: block;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20rem;
  color: white;
  background-color: #0a0b18;
  opacity: 0;
  transform: translateX(-100%);
  overflow-y: auto;
  -ms-overflow-style: none; }
  .side-drawer::-webkit-scrollbar {
    display: none !important; }
  .side-drawer__head {
    height: 4rem;
    margin: 0 1rem;
    line-height: 4rem;
    border-bottom: 1px solid #1a2444; }
    .side-drawer__head h2 {
      font-size: 1rem;
      text-align: center;
      float: left; }
    .side-drawer__head i {
      float: right;
      display: block;
      line-height: 4rem;
      cursor: pointer; }
    .side-drawer__head::after {
      content: "";
      display: block;
      clear: both; }
  .side-drawer__bid-list, .side-drawer__ask-list {
    padding: .3rem 1rem; }
  .side-drawer__bid-list {
    color: #fb3e9d; }
  .side-drawer__ask-list {
    color: #42ccf6; }
  .side-drawer__bid-title, .side-drawer__ask-title {
    font-size: .8rem;
    line-height: 2.6rem;
    height: 2.6rem;
    width: 100%;
    display: flex; }
    .side-drawer__bid-title span, .side-drawer__ask-title span {
      flex: 0 0 50%;
      text-align: right;
      padding-right: 1rem;
      border-bottom: 1px solid #051b5d; }
  .side-drawer__bidRow, .side-drawer__askRow {
    font-size: .8rem;
    font-weight: 600;
    line-height: 2.6rem;
    height: 2.6rem;
    width: 100%;
    display: flex; }
    .side-drawer__bidRow span, .side-drawer__askRow span {
      flex: 0 0 50%;
      text-align: right;
      padding-right: 1rem;
      border-bottom: 1px solid #051b5d; }
    .side-drawer__bidRow span:first-child, .side-drawer__askRow span:first-child {
      border-right: 1px solid #051b5d; }

.asideShow {
  opacity: 1;
  transform: translateX(0%); }

.modalBox {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  outline: 1px solid red; }
  .modalBox .modal {
    display: none;
    width: 50rem;
    max-width: 80%;
    max-height: 90%;
    padding: 4rem 3rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll; }
    .modalBox .modal__title {
      font-size: 1.8rem;
      font-weight: 600; }
    .modalBox .modal__sub {
      padding: .5rem 0 1rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid #ced4da;
      display: flex;
      justify-content: space-between; }
      .modalBox .modal__sub span {
        font-size: .8rem;
        color: #8f979e; }
      .modalBox .modal__sub--date {
        float: left; }
      .modalBox .modal__sub--tag {
        float: right; }
    .modalBox .modal__img {
      width: 100%; }
      .modalBox .modal__img img {
        width: 100%; }
    .modalBox .modal__contents {
      width: 100%;
      padding: 2rem 0 4rem; }
      .modalBox .modal__contents table {
        display: none; }
    .modalBox .modal__button {
      margin-bottom: 2rem;
      text-align: center; }
      .modalBox .modal__button a {
        padding: .4rem 1.6rem .6rem;
        border: 1px solid #8f979e;
        border-radius: .2rem; }
  .modalBox .show {
    display: block; }

.show {
  display: block; }

header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 3rem; }
  header i.material-icons {
    margin-left: 1rem;
    line-height: 3rem;
    cursor: pointer; }
  header h1 {
    font-family: "Heebo", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3rem;
    margin: 0;
    margin-right: 1rem;
    float: right; }

#firstPage {
  background: linear-gradient(#051b5d, #091025);
  font-family: "Heebo", sans-serif;
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  padding-top: 5rem;
  box-sizing: border-box;
  color: white;
  z-index: 1; }
  #firstPage .default-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    font-size: 2rem;
    font-weight: 300;
    display: none;
    justify-content: center; }
  #firstPage .show {
    display: flex; }
  #firstPage .wrapper {
    position: relative;
    max-width: 100%;
    top: 48%;
    transform: translateY(-50%);
    min-height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 3rem 4rem; }
    #firstPage .wrapper .info-section {
      flex: 0 0 70%;
      display: flex;
      flex-flow: column;
      align-items: center;
      position: relative; }
      #firstPage .wrapper .info-section__clock {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 7.2rem;
        font-weight: 500;
        margin: 2rem 0 1rem; }
      #firstPage .wrapper .info-section__coin-list-form {
        display: none;
        font-size: 1.6rem;
        margin-bottom: 3rem; }
        #firstPage .wrapper .info-section__coin-list-form .show {
          display: block; }
        #firstPage .wrapper .info-section__coin-list-form input {
          width: 22rem;
          margin-right: 1rem;
          padding: 1rem;
          color: white;
          font-size: inherit;
          font-weight: 300;
          border: none;
          border-bottom: 1px solid white;
          background-color: inherit;
          outline: none; }
          #firstPage .wrapper .info-section__coin-list-form input::placeholder {
            font-weight: 300;
            color: rgba(255, 255, 255, 0.2); }
        #firstPage .wrapper .info-section__coin-list-form button {
          background-color: inherit;
          border: 1px solid white;
          border-radius: .2rem;
          color: white;
          padding: .6rem 1.2rem;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 1.2rem;
          margin: 4px 2px;
          cursor: pointer; }
      #firstPage .wrapper .info-section__coinTitle {
        display: none;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem; }
      #firstPage .wrapper .info-section__exchange-button {
        background-color: inherit;
        border: 1px solid white;
        border-radius: .2rem;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        outline: none; }
        #firstPage .wrapper .info-section__exchange-button a {
          display: inline-block;
          padding: .6rem 1.4rem; }
      #firstPage .wrapper .info-section .show {
        -webkit-transition: opacity 3s;
        -moz-transition: opacity 3s;
        -ms-transition: opacity 3s;
        -o-transition: opacity 3s;
        transition: opacity 3s;
        opacity: 1;
        display: flex; }
        @media screen and (max-width: 1124px) {
          #firstPage .wrapper .info-section .show {
            display: none; } }
    #firstPage .wrapper .graph-section {
      flex: 0 0 25%;
      position: relative; }
      #firstPage .wrapper .graph-section__graph-container {
        width: 200px;
        height: 400px;
        position: absolute;
        bottom: 0; }
        #firstPage .wrapper .graph-section__graph-container .show {
          -webkit-transition: opacity 3s;
          -moz-transition: opacity 3s;
          -ms-transition: opacity 3s;
          -o-transition: opacity 3s;
          transition: opacity 3s;
          opacity: 1;
          display: flex; }
        #firstPage .wrapper .graph-section__graph-container .box {
          position: absolute;
          left: 0;
          bottom: 0;
          margin: 0; }
          #firstPage .wrapper .graph-section__graph-container .box .progressbar__current-price {
            position: absolute;
            bottom: 0;
            transform: translateX(-100%) rotate(180deg);
            font-weight: 800;
            font-size: 1.6rem; }
          #firstPage .wrapper .graph-section__graph-container .box .progressbar__current-coin {
            position: absolute;
            bottom: 2rem;
            transform: translateX(-100%) rotate(180deg);
            font-weight: 800;
            font-size: 1rem; }
      #firstPage .wrapper .graph-section__info-list-box {
        display: none;
        position: absolute;
        bottom: 2rem;
        left: -1rem;
        transform: translateX(-100%);
        color: #828ba7; }
      #firstPage .wrapper .graph-section__info-list ul {
        float: left;
        margin-right: 1rem;
        font-size: 1rem; }
        #firstPage .wrapper .graph-section__info-list ul > li {
          line-height: 1.8rem; }
      #firstPage .wrapper .graph-section__info-list::after {
        display: block;
        content: "";
        clear: both; }
      #firstPage .wrapper .graph-section__info-list--info-title {
        text-align: right; }
    @media screen and (max-width: 1124px) {
      #firstPage .wrapper {
        flex-flow: column wrap;
        padding: 0 6rem; }
        #firstPage .wrapper .info-section {
          margin-bottom: 1rem; }
          #firstPage .wrapper .info-section__exchange-button {
            display: none; }
        #firstPage .wrapper .graph-section {
          width: 100%;
          margin-bottom: 4rem; }
          #firstPage .wrapper .graph-section__graph-container {
            position: relative;
            margin: 0 auto;
            transform: translateX(50%); } }
  #firstPage i.material-icons {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4rem;
    font-weight: 100;
    cursor: pointer; }

#secondPage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-top: 5rem;
  box-sizing: border-box;
  color: #343a40;
  display: flex;
  justify-content: center;
  position: relative; }
  #secondPage i.material-icons {
    position: absolute;
    color: white;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4rem;
    font-weight: 100;
    cursor: pointer; }
  #secondPage .wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    max-width: 90%;
    padding: 3rem 0;
    background-color: #fff; }
    #secondPage .wrapper .blockChain,
    #secondPage .wrapper .ico {
      flex: 0 0 50%;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      padding: 0 4rem;
      box-sizing: border-box; }
      #secondPage .wrapper .blockChain__mainTitle,
      #secondPage .wrapper .ico__mainTitle {
        font-size: 2rem;
        font-weight: 300;
        margin: 2rem auto 1rem; }
      #secondPage .wrapper .blockChain__article,
      #secondPage .wrapper .ico__article {
        height: 6rem;
        display: flex;
        cursor: pointer; }
      #secondPage .wrapper .blockChain__img,
      #secondPage .wrapper .ico__img {
        flex: 0 0 30%; }
        #secondPage .wrapper .blockChain__img img,
        #secondPage .wrapper .ico__img img {
          object-fit: cover; }
      #secondPage .wrapper .blockChain__contents,
      #secondPage .wrapper .ico__contents {
        flex: 0 0 70%;
        display: flex;
        flex-flow: column;
        padding-left: 1rem;
        position: relative; }
        #secondPage .wrapper .blockChain__contents--date,
        #secondPage .wrapper .ico__contents--date {
          font-size: .8rem;
          line-height: 1.6rem;
          color: #8f979e; }
        #secondPage .wrapper .blockChain__contents--title,
        #secondPage .wrapper .ico__contents--title {
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.6rem; }
      #secondPage .wrapper .blockChain__more-button,
      #secondPage .wrapper .ico__more-button {
        text-align: right;
        padding-right: 1rem; }
    #secondPage .wrapper .blockChain {
      border-right: 1px solid #eceef0; }
    @media screen and (max-width: 1124px) {
      #secondPage .wrapper {
        flex-flow: column;
        overflow: scroll; }
        #secondPage .wrapper article {
          margin-bottom: 1rem; } }
