// variables

$c-primary: #41bcdb;
$c-primary-light: #61cae4;
$c-primary-dark: #1bb1d6;

$c-secondary: #f67524;
$c-secondary-light: #f08a4a;
$c-secondary-dark: #e4681b;

$c-navy-light: #5f5f70;
$c-navy-dark: #3c3b47;

$c-white: #fff;
$c-gray-light: #a8a8a8;
$c-gray-dark: #5d5d5d;
$c-black: #2f2f2f;