// VARIABLES

// COLOR
$c-primary-bright: #828ba7;
$c-primary: #0e162e;
$c-primary-light: #1a2444;
$c-primary-dark: #0a0e1a;

$c-up: #42ccf6;
$c-down: #fb3e9d;
$c-orange: #ff9409;
$c-mint: #13f3ce;

$c-navy-dark: #0a0b18;

$c-gray-2: #eceef0;
$c-gray-4: #ced4da;
$c-gray-6: #8f979e;
$c-gray-8: #343a40;

// FONT
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,700&display=swap|family=Noto+Sans+KR:100,300,400,500,700,900');
$f-ko-sans: 'Noto Sans KR',
sans-serif;
$f-en-sans: 'Heebo',
sans-serif;