*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $f-ko-sans;
  font-weight: 300;
  font-size: 1rem;
  background-color: $c-primary-dark;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    font-weight: inherit;
  }

  ol,
  ul>li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.noScroll {
  overflow: hidden;
}