// 첫번째 페이지
#firstPage {
    background: linear-gradient($c-primary, $c-primary-dark);
    font-family: $f-en-sans;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    padding-top: 5rem;
    box-sizing: border-box;
    color: white;
    z-index: 1;

    .default-message {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        font-size: 2rem;
        font-weight: 300;
        display: none;
        justify-content: center;
    }

    .show {
        display: flex;
    }

    .wrapper {
        position: relative;
        max-width: 100%;
        top: 48%;
        transform: translateY(-50%);
        min-height: 500px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 3rem 4rem;

        // COIN SEARCH & OUTPUT. LEFT SIDE
        .info-section {
            // outline: 1px solid cyan;
            flex: 0 0 70%;
            display: flex;
            flex-flow: column;
            align-items: center;
            position: relative;

            // CLOCK
            &__clock {
                font-family: $f-ko-sans;
                font-size: 7.2rem;
                font-weight: 500;
                margin: 2rem 0 1rem;
            }

            // COIN SEARCH INPUT
            &__coin-list-form {
                display: none;
                font-size: 1.6rem;
                margin-bottom: 3rem;

                .show {
                    display: block;
                }

                input {
                    width: 22rem;
                    margin-right: 1rem;
                    padding: 1rem;
                    color: white;
                    font-size: inherit;
                    font-weight: 300;
                    border: none;
                    border-bottom: 1px solid white;
                    background-color: inherit;
                    outline: none;

                    &::placeholder {
                        font-weight: 300;
                        color: rgba(255, 255, 255, 0.2);
                    }
                }

                button {
                    background-color: inherit;
                    border: 1px solid white;
                    border-radius: .2rem;
                    color: white;
                    padding: .6rem 1.2rem;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 1.2rem;
                    margin: 4px 2px;
                    cursor: pointer;
                }
            }

            // COIN SEARCH OUTPUT
            &__coinTitle {
                display: none;
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }

            &__exchange-button {
                background-color: inherit;
                border: 1px solid white;
                border-radius: .2rem;
                color: white;

                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                outline: none;

                a {
                    display: inline-block;
                    padding: .6rem 1.4rem;
                }
            }

            .show {
                -webkit-transition: opacity 3s;
                -moz-transition: opacity 3s;
                -ms-transition: opacity 3s;
                -o-transition: opacity 3s;
                transition: opacity 3s;
                opacity: 1;
                display: flex;

                @media screen and (max-width: 1124px) {
                    display: none;
                }
            }
        }


        // GRAPH. RIGHT SIDE
        .graph-section {
            // outline: 1px solid cyan;
            flex: 0 0 25%;
            position: relative;

            &__graph-container {
                width: 200px;
                height: 400px;
                position: absolute;
                bottom: 0;

                .show {
                    -webkit-transition: opacity 3s;
                    -moz-transition: opacity 3s;
                    -ms-transition: opacity 3s;
                    -o-transition: opacity 3s;
                    transition: opacity 3s;
                    opacity: 1;
                    display: flex;
                }

                // graph bar
                .box {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin: 0;

                    .progressbar {
                        &__current-price {
                            position: absolute;
                            bottom: 0;
                            transform: translateX(-100%) rotate(180deg);
                            font-weight: 800;
                            font-size: 1.6rem;
                        }

                        &__current-coin {
                            position: absolute;
                            bottom: 2rem;
                            transform: translateX(-100%) rotate(180deg);
                            font-weight: 800;
                            font-size: 1rem;
                        }
                    }
                }
            }

            // COIN INFO BOX
            &__info-list-box {
                display: none;
                position: absolute;
                bottom: 2rem;
                left: -1rem;
                transform: translateX(-100%);
                color: $c-primary-bright;
            }

            // COIN INFO LIST
            &__info-list {
                ul {
                    float: left;
                    margin-right: 1rem;
                    font-size: 1rem;

                    >li {
                        line-height: 1.8rem;
                    }
                }

                &::after {
                    display: block;
                    content: "";
                    clear: both;
                }
            }

            &__info-list--info-title {
                text-align: right;
            }
        }

        @media screen and (max-width: 1124px) {
            flex-flow: column wrap;
            padding: 0 6rem;

            .info-section {
                margin-bottom: 1rem;

                &__exchange-button {
                    display: none;
                }
            }

            .graph-section {
                width: 100%;
                margin-bottom: 4rem;

                &__graph-container {
                    position: relative;
                    margin: 0 auto;
                    transform: translateX(50%);
                }
            }
        }
    }

    i.material-icons {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.4rem;
        font-weight: 100;
        cursor: pointer;
    }
}