.modalBox {
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    outline: 1px solid red;

    .modal {
        display: none;
        width: 50rem;
        max-width: 80%;
        max-height: 90%;
        padding: 4rem 3rem;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: scroll;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none !important;
        }

        &__title {
            font-size: 1.8rem;
            font-weight: 600;
        }

        &__sub {
            padding: .5rem 0 1rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid $c-gray-4;
            display: flex;
            justify-content: space-between;

            span {
                font-size: .8rem;
                color: $c-gray-6;
            }

            &--date {
                float: left;
            }

            &--tag {
                float: right;
            }

        }

        &__img {
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__contents {
            width: 100%;
            padding: 2rem 0 4rem;

            table {
                display: none;
            }
        }

        &__button {
            margin-bottom: 2rem;
            text-align: center;

            a {
                padding: .4rem 1.6rem .6rem;
                border: 1px solid $c-gray-6;
                border-radius: .2rem;
            }
        }
    }

    .show {
        display: block;
    }
}

.show {
    display: block;
}